@keyframes backgroundAnimation {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -1294px 0;
  }
}
.heart-active {
  background-position: -1294px 0;
  animation: backgroundAnimation 0.5s steps(28, start);
}
